*{
    box-sizing: border-box;
}
@font-face { 
    font-family: "Geizer"; 
    src: url("../fonts/Geizer.otf");}
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');

body{

    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/fondo2.jpg);
    background-repeat: repeat;   
}
.textRed{
    color: rgb(221, 2, 50, 0.908);
}

h2{
    padding: 10px;
}

p{ 
    color: rgb(16, 16, 16);
    font-weight: 300;
    font-size: 64;
    line-height: 30px;
    margin-top: auto;
    padding: 4px;
    text-align: center;

}
img{
    max-width: 100%;
    pointer-events: none;
}
.center{
    text-align: center;
}

.nav{
    justify-content: center;
}
.navbar a{
    font-family: geizer !important;
    font-size: 20px;
    color: rgb(189, 9, 48);
}
nav .navbar-nav li a{
    color: rgb(189, 9, 48) !important;
    }
.logo{
    max-width: 100%;
    width: 350px; 
    pointer-events: none;
  }

.box{
    box-sizing: border-box;
    background-color: rgb(166, 166, 166);
    width: fit-content; height: auto;   
    margin: 0 auto; margin-bottom: 80px; margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
}

.icons{
    display: flex;
    justify-content: left;
    gap: 10px;
}
.icons a{
    font-size: 30px;
}
   

.textBox{
    box-sizing: border-box;
    background-color: rgb(166, 166, 166);
    width: 80%; height: auto;
    margin: 0 auto; 
    margin-bottom: 20px; 
    margin-top: auto;
    padding: 20px;
    border-radius: 5px;
    font-size: x-large;
}

.pDestacados{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.space{
    padding: 30px;
}

.navbar a{
    font-family: geizer !important;
    font-size: 20px;
    color: brown;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.table{
    margin: auto;
}
.promociones{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
@media screen and (max-width: 900px) {
    .promociones{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

.promo15{
    width: 400px;
    height: 600px;
    margin: auto;
    border-radius: 2%;
}

.informacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
   @media screen and (max-width: 800px) {
    .informacion{
        grid-template-columns: repeat(1, 1fr);
    }
    
   }
    
iframe {
    max-width: 100%;
    height: 500px;
    width: 600px;
    border-radius: 3%;
   }

   @media screen and (max-width: 800px){
    iframe{
        width: 400px;
        height: 300px;
    }
}

.pie-pagina{
    font-family: Geizer;
    width: 100%;
    background-color: rgb(166, 166, 166);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;

}
.pie-pagina .grupo-1 .box1 figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box1 h2{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .s-media a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(221, 2, 50);
    margin-right: 10px;
    background-color: rgb(116, 116, 116);
    border-radius: 20%;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .s-media a:hover{
    color: rgb(33, 32, 32);
}
@media screen and (max-width: 800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
